/*-- scss:defaults --*/
$link-color: #be830e;

/*-- scss:rules --*/
strong {
  color: var(--r-link-color-hover);
}

.reveal blockquote {
    border-left: solid 5px #var(--r-link-color-dark);
    padding-left: 1em;
    display: block;
    margin-inline-start: 2em;
}

.reveal h2 {
  color: #BE830E !important;
}

.reveal .footer a {
  color: #BE830E;
}

body > div.reveal.has-logo.focused.has-horizontal-slides.ready.fade > img {
  height: 2em;
  max-height: 100em;
}

th {
  background: #eee8d5;
}

tr:nth-child(even) {
    background: #eee8d5;
}

/* Display a PNG file as an icon. Use it as a class of an <img> element. */
.png-icon {
  height:1em;
  width:1em;
  vertical-align:-0.125em;
  margin-left:auto;
  margin-right:auto;
  font-size:inherit;
  fill:currentColor;
  overflow:visible;
  position:relative;
  margin-top:0px !important;
  margin-bottom:0px !important;
}

/* Cancel the bold color. */
.callout-title strong {
  color: black;
}

.title-slide-title {
  text-align: right;
}

.title-slide-event {
  color: #5A5A5A;
}

.title-slide-author {
  margin-top: 1em !important; 
  font-size: 0.9em !important;
}

.title-slide-org p{
  font-size: 0.9em;
}

.transition-slide {
  background-color: #F5EDDE!important;
  font-size: 120%;
  text-align: center
}

.text-150 {
  font-size: 150%;
}

.text-120 {
  font-size: 120%;
}

.text-100 {
  font-size: 100%;
}

.text-90 {
  font-size: 90%;
}

.text-80 {
  font-size: 80%;
}

.text-75 {
  font-size: 75%;
}

.text-70 {
  font-size: 70%;
}

.text-65 {
  font-size: 65%;
}

.text-60 {
  font-size: 60%;
}

.text-55 {
  font-size: 55%;
}

.text-50 {
  font-size: 50%;
}

.text-45 {
  font-size: 45%;
}

.text-40 {
  font-size: 40%;
}

.height-100 {
  height: 100%;
}

.height-80 {
  height: 80%;
}

.height-70 {
  height: 70%;
}

.height-60 {
  height: 60%;
}

.height-50 {
  height: 50%;
}

.height-40 {
  height: 40%;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

.flex-rows {
  display: flex; 
  flex-direction: column;
  text-align: center;
}

.flex-columns {
  display: flex; 
  flex-direction: row;
  text-align: center;
}

.flex-1 {
  display: flex;
  flex: 1 1 0;
}

.flex-1-image {
  display: flex;
  flex: 1 1 0;
  min-height: 0;
  min-width: 0;
  justify-content: center;
}

.center-div {
  width: 100%;
  text-align: center;
}

form.oi-3a86ea>label {
  flex-shrink: 1 !important;
}

form.oi-3a86ea {
  width: 100% !important;
}

.white-background-plot {
  background-color: white;
}

img.slide-logo{
  height: 1.5em !important;
}

p.caption {
  font-size: 0.5em !important;
}

#fig-cat {
  margin-left: 0;
}



#exponential-family > div.text-75 > div > div:nth-child(1) > div:nth-child(2) {
  display: block;
}
